body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  margin: 20px;
  background-color:#10100E;
  color:#cccccc;
}

#app {
  /* align: center; */
}

/* ol, ul {
  padding-left: 30px;
} */
/* 
.board-row:after {
  clear: both;
  content: "";
  display: table;
} */

/* .status {
  margin-bottom: 10px;
} */


.game-info {
  margin-left: 20px;
}

#content{

}
